html {
  overflow-y: hidden;
}
body {
  background: black;
  background-image: url('images/image3.svg');
  background-size:cover;
}

#container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .2fr 1fr .2fr;
  grid-template-areas: 
  "header"
  "form"
  "footer";
  grid-gap: 2px;
}
header {
  grid-area: header;
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100px;
  background-color: aqua;
  color: black;
  display: table;
}
header h1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: 'Orbitron', Verdana, sans-serif;
  font-size: 2.5em;
}

.content {
  width: 150px;
  position: absolute;
  left: 20px;
  top: 120px;
  padding: 15px;
  border: 1px solid #B0C4DE;
  background: black;
  color: lime;
  border-radius: 0px 0px 10px 10px;
}

form, #login {
  grid-area: form;
  grid-row: 2;
  grid-column: 1;
  width: 350px;
  margin: 20px auto 30px;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: black;
  color: lime;
  border-radius: 0px 0px 10px 10px;
}
form a {
  color: cyan;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.error {
  margin: 0px auto; 
  padding: 5px;
  border: 1px solid #a94442; 
  color: #a94442;  
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: lime; 
  background: black; 
  border: 1px solid cyan;
  margin: 0 auto;
  padding: 5px;
}

/* Index page */

form h2 {
  padding: 10px 0;
  font-size: 1.5em;
  color: lime;
  text-align: left;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 1.75em;
}
form span {
  font-size: 3em;
  color: cyan;
  padding-left: 70px;
}
form input {
  font-family: monospace;
  font-weight: 800;
  background-color: grey;
  color: #6f6;
  font-size: 25px;
  word-spacing: 30px;
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
#result {
  width: 300px;
  height: 50px;
  margin: 20px auto;
  color: lime;
  padding: 5px;
  font-family: monospace;
  font-size: 1.75em;
  text-align: center;
}

/* Green Button */
.startContainer {
  margin: 20px auto 0px auto;
  text-align: center;
}
.button {
  margin: 10px 0 10px;
  color: #6f6;
  font-family: 'Orbitron', Verdana, sans-serif;
  font-size: 1.75em;
  background: none;
}
.button:hover {
  color: #afa;
  cursor: pointer;
}
@-webkit-keyframes pulseBox {
  0% {-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}
@-moz-keyframes pulseBox {
  0% {-moz-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {-moz-box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}
@-o-keyframes pulseBox {
  0% {-o-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {-o-box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}
@keyframes pulseBox {
  0% {box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}

.pulseBox {
  -webkit-animation-name: pulseBox;
  -moz-animation-name: pulseBox;
  -o-animation-name: pulseBox;
  animation-name: pulseBox;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

/* END Index page */

footer {
  grid-area: footer;
  grid-row: 3;
  grid-column: 1;
  width: 100%;
  height: 100px;
  background-color: aqua;
}
footer p {
  font-family: monospace;
  font-size: 1em;
  text-align: center;
  padding: 10px;
}